<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hotel Review</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js"> -->
  </script>
  <link rel="stylesheet" href="/css/review.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><b>HOTEL REVIEWS</b></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <!-- <li id="home"><a href="/review">HOME</a></li> -->
        <li id="about"><a href="/compose">WRITE REVIEW</a></li>
        <li id="contact"><a href="/contact">CONTACT HOTEL</a></li>
      </ul>
    </div>
  </nav>
<script src="js/script.js"></script>
<body>
  <div class="container">
